language: node_js
node_js:
  - '10'
  - '12'
  - '14'

cache:
  directories:
    - node_modules

stages:
  - name: test
  - name: deploy
    if: tag IS present

jobs:
  include:
    - stage: test
      script:
        - yarn lint
        - yarn test

    - stage: deploy
      node_js: '14'
      script:
        - yarn build
      before_deploy: |
        function npm_tag() {
          CURRENT_VERSION=$(node -e "console.log(require('./package.json').version)")
          PRERELEASE_TAG_REGEX="[0-9]+\.[0-9]+\.[0-9]+-([a-z]+)\.[0-9]+"
          if [[ $CURRENT_VERSION =~ $PRERELEASE_TAG_REGEX ]]; then
            echo "${BASH_REMATCH[1]}"
          else
            echo "latest"
          fi
        }
      deploy:
        provider: npm
        email: tannerntannern@gmail.com
        api_key: $NPM_DEPLOY_TOKEN
        tag: $(npm_tag)
